doctype html
html(lang="no")
    head
        meta(charset="utf-8")
        link(href="assets/css/style.css" rel="stylesheet" media="all")
        script(src="assets/java/jquery-2.1.1.js" type="text/javascript")
        title= "Hunden Bist"
        
    body
    
        include ./sections/header.jade
        
        
        script(src="assets/java/java.js" type="text/javascript")
