section.wrap
    h2 Bist
    p <strong>Hell i uhell</strong>, hun ble lagt ut for salg på finn.no et par dager før Jeg og Lena bestemte oss for å skaffe en hund. Noen hundeiere på Stjørdal hadde hatt et uhell med nabohunden.