section#beistet
    .wrap
    
        .logo
            include ./../assets/media/bones.svg
            
        img(src="assets/media/avatar.jpg")
        
        .logo
            include ./../assets/media/bones.svg
            
        h2 Bist
        
        p <strong>Hell i uhell</strong>. Et par dager før jeg og Lena bestemte oss for å skaffe en hund, ble Bist og hennes søsken lagt ut for salg på finn.no. Noen hundeiere på Stjørdal hadde hatt et uhell med nabohunden. 
        
        p <strong>Bist ble født 24.03.2013</strong> sammen med fem andre valper. Hennes mor er av rasene Border Collie, Flat Coated Retriever og Gordon Setter. Hennes far er Finsk Lapphund. 