footer
    a(href="#top")
        h3 Bist
    p Copyright &copy; 2014 by Sigurd Våg Aaknes
    nav
        ul
            li
                span
                    a(href="#beistet") Beistet
            li
                span
                    a(href="#rasene") Rasene
            li
                span
                    a(href="#foreldrene") Foreldrene
            li
                span
                    a(href="#galleri") Galleri