section#foreldrene
    .wrap
        h2 Foreldrene
        
        img.bildeforelder.sigurd(src="assets/media/sigurd.jpg")

        img.bildeforelder.lena(src="assets/media/lena.jpg")
        
        p.infoforelder.lena <strong>Lena er pen.</strong> Hun er født i 1991 og kommer fra Trondheim/Brønnøysund. Tar utdanning innen økonomi ved HiST.
        
        p.infoforelder.sigurd <strong>Sigurd er en liten gutt.</strong> Født 1989. Kommer fra Snåsa og utdanner seg innen datateknologi på HiST.
        
        hr
        
        p <strong>Dette er Sigurd og Lena.</strong> Far og mor til Bist. De traff hverandre da de jobbet sammen på Coop Prix. Nå bor de sammen og trives godt med Bist.