section#galleri
    .wrap
    
        h2 Galleri
        p En samling bilder av <strong>stjerna</strong>
        
        hr
        
        img.thumb(src="assets/media/galleri/thumb/01.JPG")
        img.thumb(src="assets/media/galleri/thumb/02.JPG")
        img.thumb(src="assets/media/galleri/thumb/03.JPG")
        img.thumb(src="assets/media/galleri/thumb/04.JPG")
        img.thumb(src="assets/media/galleri/thumb/05.JPG")
        img.thumb(src="assets/media/galleri/thumb/06.JPG")
        img.thumb(src="assets/media/galleri/thumb/07.JPG") 
        img.thumb(src="assets/media/galleri/thumb/08.JPG")
        img.thumb(src="assets/media/galleri/thumb/09.JPG")
        img.thumb(src="assets/media/galleri/thumb/10.JPG")
        img.thumb(src="assets/media/galleri/thumb/11.JPG")
        img.thumb(src="assets/media/galleri/thumb/12.JPG")
        img.thumb(src="assets/media/galleri/thumb/13.JPG")
        img.thumb(src="assets/media/galleri/thumb/14.JPG")
        img.thumb(src="assets/media/galleri/thumb/15.JPG")
        img.thumb(src="assets/media/galleri/thumb/16.JPG")
        img.thumb(src="assets/media/galleri/thumb/17.JPG")
        img.thumb(src="assets/media/galleri/thumb/18.JPG")
        img.thumb(src="assets/media/galleri/thumb/19.JPG") 
        img.thumb(src="assets/media/galleri/thumb/20.JPG")
        img.thumb(src="assets/media/galleri/thumb/21.JPG")
        img.thumb(src="assets/media/galleri/thumb/22.JPG")
        img.thumb(src="assets/media/galleri/thumb/23.JPG")
        img.thumb(src="assets/media/galleri/thumb/24.JPG")
        img.thumb(src="assets/media/galleri/thumb/25.JPG")
        img.thumb(src="assets/media/galleri/thumb/26.JPG")
        img.thumb(src="assets/media/galleri/thumb/27.JPG")
        img.thumb(src="assets/media/galleri/thumb/28.JPG")
        img.thumb(src="assets/media/galleri/thumb/29.JPG") 
        img.thumb(src="assets/media/galleri/thumb/30.JPG")
        img.thumb(src="assets/media/galleri/thumb/31.JPG")
        img.thumb(src="assets/media/galleri/thumb/32.JPG")
        img.thumb(src="assets/media/galleri/thumb/33.JPG")
        img.thumb(src="assets/media/galleri/thumb/34.JPG")
        img.thumb(src="assets/media/galleri/thumb/35.JPG")
        img.thumb(src="assets/media/galleri/thumb/36.JPG")
        img.thumb(src="assets/media/galleri/thumb/37.JPG")
        
        hr

        img.show
        .blackbackground
        .close ✖
        .gallerikontroll.neste →
        .gallerikontroll.forrige ←