section#galleri
    .wrap
        h2 Galleri
        p En liten samling bilder av <strong>stjerna</strong>
        img(src="")
        img(src="")
        img(src="")
        img(src="")
        img(src="")
        img(src="")
        img(src="") 
        img(src="")
        img(src="")
        img(src="")
        img(src="")
        img(src="")
        
        img.show.aktivbilde