header
    h1 Hunden Bist
    nav
        ul
            li
                a(href="#beistet") Beistet
            li
                a(href="#rasene") Rasene
            li
                a(href="#foreldrene") Foreldrene
            li
                a(href="#galleri") Galleri