section#rasene
    .wrap
        h2 Rasene
        nav.raser
            ul
                li.rasemeny
                    span
                        a(href="#") Border Collie
                li.rasemeny
                    span
                        a(href="#") Flat Coated Retriever
                li.rasemeny
                    span
                        a(href="#") Gordon Setter
                li.rasemeny
                    span
                        a(href="#") Finsk Lapphund
        hr    
        .raseholder.hide
            img(src="assets/media/bordercollie.jpg")
            .info
                blockquote <strong>Border collie er en utpreget gjeterhund</strong> med aner som trolig stammer fra grensetraktene mellom England og Skottland, derfor tilnavnet «grensecollie» eller «collie fra grensetraktene». Som rase har den blitt svært populær på grunn av sin arbeidskapasitet og gode egenskaper som brukshund. Rasen regnes som verdens mest populære gjeterhund for sau.
                br
                cite
                    a(href="http://no.wikipedia.org/wiki/Border_collie", target="_blank") Wikipedia, Border Collie
        
        .raseholder.hide
            img(src="assets/media/flatcoatedretriever.jpg")
            .info
                blockquote <strong>Flat coated retriever</strong>, som på begynnelsen av 1800-tallet ble kalt wavy coated retriever, er den tredje mest populære rasen blant retrieverne. Den har sitt utspring i Storbritannia.
                br
                cite
                    a(href="http://no.wikipedia.org/wiki/Flat_coated_retriever", target="_blank") Wikipedia, Flat Coated Retriever
        
        .raseholder.hide
            img(src="assets/media/gordonsetter.jpg")
            .info
                blockquote <strong>Gordon setter tilhører de eldste stående fuglehundene</strong> man kjenner til og oppsto som sådan trolig i Skottland alt på midten av 1500-tallet. I de senere år har hunderasen alt blitt stadig mer populær her hjemme i Norge.
                br
                cite
                    a(href="http://no.wikipedia.org/wiki/Gordon_setter", target="_blank") Wikipedia, Gordon Setter
        
        .raseholder.hide
            img(src="assets/media/finsklapphund.jpg")
            .info
                blockquote <strong>Finsk lapphund er en mellomstor spisshundrase</strong> som kommer fra Finland og har lange tradisjoner som vokterhund. På finsk heter den suomenlapinkoira.
                br
                cite
                    a(href="http://no.wikipedia.org/wiki/Finsk_lapphund", target="_blank") Wikipedia, Finsk Lapphund