section#beistet
    background-color: #eee
    
    img
        border-radius: 50%
        width: 300px
        vertical-align: middle
        padding: 0px
        
    .logo
        display: inline-block
        border-radius: 0
        margin: 15%
        
        svg
            width:24px
            height: 24px
            transform:scale(2)
        
        path
            fill: tan
                
@media only screen and (max-width: 900px)
    
    section#beistet
    
        .logo
            margin: 5%

@media only screen and (max-width: 470px)
    
    section#beistet
    
        .logo
            display: none