footer
    background:
        image: url("../media/valp.jpg")
        repeat: no-repeat
        size: cover
        position: center center
    height: 300px
    position: relative
    overflow: hidden
    
    h3
        margin: 0
        +position(absolute, 35px null null 20px)
        display: inline
        color: #000
        opacity: 0.7
        font-size: 64px
        
        
    
    nav ul
        text-align: right
        list-style: none
        margin-top: 45px
        
        li
            margin-bottom: 10px
            a
                display: block
                color: #000
                font-size: 20px
                margin-right: 20px