header
    background:
        image: url(../media/valp.jpg)
        position: center
        size: cover
    height: 400px
    position: relative
     
    h1
        display: inline-block
        +position(absolute, 20% 0 0 10%)
        font-size: 72px
        opacity: 0.6
        color: #333